.profile {
    max-width: 500px;
    margin: 0 auto;

    background: #1c204b;
    border-radius: 15px;

    @media only screen and (min-width: 1150px) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__user-box {
        background-color: #5747ea;
        border-radius: 15px;
        padding: 32px 39px 32px 29px;

        display: flex;
        align-items: center;

        @media only screen and (min-width: 1150px) {
            padding: 37px 32px;
            height: 354px;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__img {
        width: 70px;
        height: 70px;
        border: 3px solid #fff;
        border-radius: 50%;
        margin-right: 17px;

        @media only screen and (min-width: 1150px) {
            width: 84px;
            height: 84px;
            margin-right: 0;
            margin-bottom: 40px;
        }
    }

    .text {
        margin-bottom: 4px;

        @media only screen and (min-width: 1150px) {
            margin-bottom: 3px;
        }
    }

    &__name {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;

        @media only screen and (min-width: 1150px) {
            font-size: 40px;
            line-height: 47px;
        }
    }

    //

    &__buttons {
        border-radius: 15px;

        display: flex;
        justify-content: space-around;
        padding: 24px 0 25px 0;

        @media only screen and (min-width: 1150px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 26px 0 32px 32px;
        }
    }

    &__btn {
        border: none;
        background-color: transparent;

        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #7078c9;
        transition: color 0.15s;
        cursor: pointer;

        &--active {
            color: #ffffff;
        }

        &:hover {
            color: #ffffff;
        }
    }

    &__btn:not(:last-child) {
        @media only screen and (min-width: 1150px) {
            margin-bottom: 21px;
        }
    }
}
