* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background-color: #0e1323;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #bbc0ff;
}

@media only screen and (min-width: 1150px) {
  .main {
    margin-top: 221px;
    margin-bottom: 221px;
  }
}

.dashboard {
  margin-top: 81px;
  padding: 0 24px;
}
@media only screen and (min-width: 1150px) {
  .dashboard {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 255px 825px;
    grid-template-rows: 518px;
    margin-top: 221px;
    padding: 32px 0;
    margin-top: 0;
  }
}

.profile {
  max-width: 500px;
  margin: 0 auto;
  background: #1c204b;
  border-radius: 15px;
}
@media only screen and (min-width: 1150px) {
  .profile {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.profile__user-box {
  background-color: #5747ea;
  border-radius: 15px;
  padding: 32px 39px 32px 29px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1150px) {
  .profile__user-box {
    padding: 37px 32px;
    height: 354px;
    align-items: flex-start;
    flex-direction: column;
  }
}
.profile__img {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 17px;
}
@media only screen and (min-width: 1150px) {
  .profile__img {
    width: 84px;
    height: 84px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.profile .text {
  margin-bottom: 4px;
}
@media only screen and (min-width: 1150px) {
  .profile .text {
    margin-bottom: 3px;
  }
}
.profile__name {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
@media only screen and (min-width: 1150px) {
  .profile__name {
    font-size: 40px;
    line-height: 47px;
  }
}
.profile__buttons {
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 24px 0 25px 0;
}
@media only screen and (min-width: 1150px) {
  .profile__buttons {
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 0 32px 32px;
  }
}
.profile__btn {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #7078c9;
  transition: color 0.15s;
  cursor: pointer;
}
.profile__btn--active {
  color: #ffffff;
}
.profile__btn:hover {
  color: #ffffff;
}
@media only screen and (min-width: 1150px) {
  .profile__btn:not(:last-child) {
    margin-bottom: 21px;
  }
}

.card {
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 1150px) {
  .card {
    max-width: revert;
    width: 100%;
  }
}
.card__wrapper {
  margin-bottom: 81px;
}
@media only screen and (min-width: 1150px) {
  .card__wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 255px);
    grid-template-rows: 244px 244px;
  }
}
.card__top {
  height: 62px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  bottom: -24px;
  overflow: hidden;
}
@media only screen and (min-width: 1150px) {
  .card__top {
    bottom: 0;
  }
}
.card--work {
  background-color: #ff8b64;
}
.card--play {
  background-color: #55c2e6;
}
.card--study {
  background-color: #ff5e7d;
}
.card--exercise {
  background-color: #4bcf82;
}
.card--social {
  background-color: #7335d2;
}
.card--self-care {
  background-color: #f1c75b;
}
.card__bg-icon {
  position: absolute;
  z-index: 2.5;
}
.card__bg-icon--work {
  top: -11px;
  right: 17.4px;
}
.card__bg-icon--play {
  top: -5px;
  right: 20px;
}
.card__bg-icon--study {
  top: -6px;
  right: 20px;
}
.card__bg-icon--exercise {
  top: -0.4px;
  right: 20px;
}
.card__bg-icon--social {
  top: -15px;
  right: 13.5px;
}
.card__bg-icon--self-care {
  top: -13px;
  right: 15px;
}
.card__box {
  border-radius: 15px;
  padding: 28px 24px;
  background-color: #1c204b;
  position: relative;
  z-index: 5;
  cursor: pointer;
  transition: background-color 0.15s;
}
.card__box:hover {
  background-color: #33397a;
}
@media only screen and (min-width: 1150px) {
  .card__box {
    margin-top: -17px;
    padding: 30px 30px 32px 30px;
  }
}
.card__box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__box div:nth-child(1) {
  margin-bottom: 6px;
}
@media only screen and (min-width: 1150px) {
  .card__box div:nth-child(1) {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1150px) {
  .card__box div:nth-child(2) {
    align-items: flex-start;
    flex-direction: column;
  }
}
.card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.card__time {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
}
@media only screen and (min-width: 1150px) {
  .card__time {
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
